.App{
    background-color: #6c757d;
    padding-top: 10px;
}

.TitleHolder{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 5px;
}

.InputHolder{
    padding-top: 20px;
    padding-bottom: 20px;
}

.SuggessionTitle{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.SuggessionName input, .SuggessionLink input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    max-width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .SuggessionName input, .SuggessionLink input {
      width: 100%;
    }
  }

  .SuggessionButton{
    margin-top: 5px;
    margin-bottom: 5px;
  }